#head-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#head-right {
  display: flex;
  flex-direction: row;
}

#menu {
  background-color: #ffffff00;
}

#head-background {
  height: 50vh;
  width: 100%;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-container {
  position: relative;

}